git+https://github.com/TheLastBen/diffusers
accelerate==0.12.0
OmegaConf
wget
pytorch_lightning
huggingface_hub
ftfy
transformers
pyfiglet
triton
bitsandbytes
torch
https://github.com/TheLastBen/fast-stable-diffusion/raw/main/precompiled/T4/xformers-0.0.13.dev0-py3-none-any.whl