--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
git+https://github.com/TheLastBen/diffusers
accelerate==0.12.0
OmegaConf
wget
pytorch_lightning
huggingface_hub
ftfy
transformers
pyfiglet
triton==2.0.0.dev20220701
bitsandbytes
xformers-0.0.14.dev0-cp38-cp38-linux_x86_64_t4.whl